* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(44, 44, 44);
    color: antiquewhite;
}
.square{
    background-color: rgb(0, 217, 255);
    width: 100px;
    height: 100px;
    margin: 0 auto;
    color: rgb(255, 255, 255);
    box-shadow:  2px 1px 5px #000000;
   
    display: flex;
    justify-content: center;

    align-items: center;
}
h1{
    font-size: 20px;
}
.color-0{
    background-color:red;
}

.color-1{
    background-color: blue;
}

.color-2{
    background-color: green;
}
.color-3{
    background-color: rgb(149, 0, 255);
}
